<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/main.css">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inventory</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href=""> -->
    </head>
    <body >
       <div   >
           <h1 style="text-align: center;">Shopify-Inventory</h1>

        <a href="/add" class="btn btn-primary" style="padding-left: 0%;">Add new Entry</a>
        <a href="download"  class="btn btn-secondary" style="float: right;">Export to CSV</a>
        <br><br>
           {% if tasks| length < 1 %}
           <table class="table">
            <tr>
                <th>Product Type</th>
                <th>Product Code</th>
                <th>Product Title</th>
                <th>Summary of Product</th>
                <th>Quantity Available</th>
                <th>Warehouse/Location</th>
                <th>Last modified</th>
                <th>Action</th>
             </tr>
           </table>

           {% else   %}
           <!-- style="border:1px solid black;margin-left:auto;margin-right:auto;" -->
           <table class="table" style="text-align: center;">
               <tr>
                   <th>Sr no.</th>
                   <th>Product Type</th>
                   <th>Product Code</th>
                   <th>Product Name</th>
                   <th>Summary of Product</th>
                   <th>Quantity Available</th>
                   <th>Warehouse/Location</th>
                   <th>Last modified</th>
                   <th>Action</th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <th>{{loop.index}}</th>
                    <th>{{task.type}}</th>
                    <th>{{ task.code}}
                    <th>{{task.title}}</th>
                    <th>{{task.summary}}</th>
                    <th>{{task.quantity}}</th>
                    <th>{{task.warehouse}}</th>
                    </th>
                    <th>{{task.date_created.date()}}</th>
                    <th>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.id}}">Update</a>
                    </th>
                </tr>
                {% endfor %}
           </table>
{% endif %}
           </div>
        <script src="../static/css/main.css" async defer></script>
    </body>
</html>