<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/main.css">

        <title>Inventory</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
       <div class="content">
           <h1 style="text-align: center;">Update Shopify-Inventory</h1>
           <a href="/"  class="btn btn-primary">Home</a>
           <br><br>

<div class="tab-content col-md-12 class-updateForm class-updateForm" style="text-align: left;">
           <form action="/update/{{task.id}}" method="post">
               <br>
               <div class="form-group">
               <label for="type">Product Type:</label>
               <select class="form-control" name="type" id="type" value="{{task.type}}">
                   <option value="electronics">Electronics</option>
                   <option value="books">Books</option>
                   <option value="music">Music</option>
                   <option value="kitchen">Kitchen</option>
                   <option value="beauty">Beauty</option>
                   <option value="grocery">Grocery</option>
                   <option value="clothing">Clothing</option>
                   <option value="fashion">Fashion</option>
                </select>
            </div>
            
            <div class="form-group">
            <label for='code'>Product Code:</label>
            <input class="form-control" type="text" name="code" id="code" value="{{task.code}}" required> 
             </div>

                <div class="form-group">
                <label for="title">Product Name:</label>
                <input class="form-control" type="text" id="title" name="title" value="{{task.title}}" required>
                </div>

                <div class="form-group">
                <label for="summary">Summary of Product:</label>
                <input class="form-control" type="text" id="summary" name="summary" value="{{task.summary}}" required>
                </div>

                <div class="form-group">
                <label for="quantity">Quantity Available:</label>
                <input  class="form-control" type="number" min="0" id="quantity" name="quantity" value="{{task.quantity}}" required>
                </div>


                 <div class="form-group">
                <label for="warehouse">Warehouse/Location:</label>
                <input class="form-control" type="text" id="warehouse" name="warehouse" value="{{task.warehouse}}" required>
                </div>


            <input type="submit" value="Update">
            
        </form>
        <br>
    </div>
       
<!-- 
           <form action="/update/{{task.id}}" method="post">
               <input type="text" name="content" id="content" value="{{task.content}}">

               <input type="submit" value="Update">
            
           </form> -->
           </div>
        <script src="" async defer></script>
    </body>
</html>